#banner
  .banner_content
    %h1 DZENOTE
    %p Your 24/7 access to pen and paper.
    = link_to "Sign Up", new_user_registration_path, class: "button"
#testimonial
  .wrapper
    %p.quote I created this app for my own needs. Since Evernote-like cloud
    services became quite heavy for writing simple things down.
    %p.name - Petr
#middle_cta
  #notes
    .wrapper
      %h2 Example notes list
      = render 'notes/example_notes'
#bottom_cta
  .wrapper
    %h2 Sign up in 10 sec.
    %p Simply put your email & password and start using pen and paper.
    = link_to "Why not?", new_user_registration_path, class: "button"
%footer
  %p &copy; DZENOTE